.pagination {
    display: flex;
    justify-content: center;
    min-width: 35rem;
    list-style: none;
  }

  .pagination__link {
    align-items: center;
    border: .1rem solid #333;
    color: inherit;
    display: flex;
    height: 5rem;
    justify-content: center;
    min-width: 5rem;
    text-decoration: none;
    width: 5rem;
  }

  .pagination__item:not(:first-child) .pagination__link {
    border-left: 0;
  }

  .pagination__item.active .pagination__link {
    background: #333;
    color: #fff;
  }
