.app {
  position: relative;
  display: grid;
  grid-template-rows: 8.5rem 21rem 7rem 20rem;
  margin: 1rem auto;
  max-width: 100rem;
}

.loading {
  position: absolute;
  top: 4em;
  left: 1.5em;
}
