.user-info {
  grid-column: 1;
  grid-row: 2
}

.user-info__user-image {
  float: left;
  margin: 0 2rem 0 0;
  max-height: 20rem;
}

.repos-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.repos-list__item {
  padding: .5rem;
}
