@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*:focus {
  outline: none
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  backface-visibility: hidden;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

body,
input,
button {
  font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
}
