.repository {
  display: flex;
  justify-content: space-around;
}

.repos{
  grid-column: 1;
  grid-row: 1;
}
.starred {
  grid-column: 2;
  grid-row: 1;

}

.repos__item,
.starred__item {
  padding: 1rem 0;
  list-style: none;
}

.repos__item:not(:first-child),
.starred__item:not(:first-child) {
  border-top: .1rem solid #333;
}
