.repos,
.starred {
  float: left;
  width: 48%;
  margin: 0 1%;
}

.repos li,
.starred li {
  padding: 10px 0;
  list-style: none;
}

.repos li:not(:first-child),
.starred li:not(:first-child) {
  border-top: 1px solid #ccc;
}
