.actions {
  position: relative;
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: space-aroundyar;
}

.actions__button {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  height: 5rem;
  text-transform: uppercase;
  width: 48%;
}
